---
apiVersion: v1
kind: Secret
metadata:
  name: cr-yandex
stringData:
  .dockerconfigjson: |
    {
    "auths": {
    "cr.yandex": {
    "auth": "{{ docker_reg_auth_string }}"
    }
    }
    }
type: kubernetes.io/dockerconfigjson
